<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>{{ .title }}</h1>

    <form>
        <label for="file-upload">Choose a profile picture:</label>
        <input id="form-file" type="file" name="file-upload" accept="image/png, image/jpeg" />
        <input id="form-submit" type="submit" value="Request presigned url" />

    </form>

    
</body>


    <script>

        const formSubmit = document.getElementById("form-submit");
        const formFile = document.getElementById("form-file");

        formSubmit?.addEventListener("click", async (e) => {
        e.preventDefault();
        const fileName = formFile?.files?.[0]?.name?.toLowerCase?.();
        if (typeof fileName !== "string") return;

        const response = await fetch(`/presigned`, {
            method: "POST",
            body: JSON.stringify({ fileName }),
        }).catch(() => null);
        if (!response) return;

        const { presignedUrl } = await response.json().catch(() => ({}));

        const formData = new FormData(formSubmit?.parentElement, formSubmit);
        const fileUpload = formData.get("file-upload");

        await fetch(presignedUrl, {
            method: "PUT",
            body: fileUpload,
        }).catch((err) => {
            console.log("err: ", err);
        });
        });


    </script>
</html>