<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


  <body>





    <script type="module">

        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.4/firebase-app.js";

        const firebaseConfig = {
        apiKey: "AIzaSyBkTuEuRrd9rVie7vaPprjPvC3Rg9rrTy4",
        authDomain: "go-presigned.firebaseapp.com",
        projectId: "go-presigned",
        storageBucket: "go-presigned.appspot.com",
        messagingSenderId: "498017635419",
        appId: "1:498017635419:web:b19616781b8ab58ad6037e",
        };

        // Initialize Firebase

        const app = initializeApp(firebaseConfig);

        console.log(app)

                                

    </script>
  </body>
</html>